@import "tailwindcss";
 

@theme{
  --breakpoint-sm:      200px;
  --breakpoint-md:      450px;
  --breakpoint-md-footer:760px;
  --breakpoint-md-plus: 820px;
  --breakpoint-l:       1024px;
  --breakpoint-l-plus:  1200px;

  --spacing-0:    0px;
  --spacing-100:  8px;
  --spacing-200:  16px;
  --spacing-300:  24px;
  --spacing-400:  32px;
  --spacing-500:  40px;
  --spacing-600:  48px;
  --spacing-700:  56px;
  --spacing-800:  64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;

  --color-white:    #FFFFFF;
  --color-black:    #000000;
  --color-grey:     #D8D8D8;
  --color-blue-50:  #F6FAFF;
  --color-blue-100: #E5EAF1;
  --color-grey-200: #D8D8D8;
}

@font-face {
  font-family: Josefin;
  src: url(assets/font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: Alata;
  src: url(assets/font/Alata/Alata-Regular.ttf);
}

html{
  font-size: 62.5%;
}
#root{
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body:has(.modalFlag){
  overflow-y: hidden;
}

html::-webkit-scrollbar {
    display: none;
}
@utility img-height-custom{
  height: clamp(20rem, 37vw, 50rem);
}
@utility  textBlock-custom{
  width: clamp(30rem, 47vw, 54.1rem);
  padding: clamp(5.5rem, 10vw, 9.6rem) 0 0 clamp(5.5rem, 10vw, 9.6rem);
}
@utility text-header-l{
  font-size:      clamp(2rem, 10.68vw, 7.2rem);
  font-family:   'Josefin';
  font-weight:    300; 
  line-height:    100%;
  letter-spacing: 0;
}
@utility text-header-md{
  font-size:      clamp(2rem, 8.58vw, 4.8rem);
  font-family:   'Josefin';
  font-weight:    300; 
  line-height:    100%;
  letter-spacing: 0;
}
@utility w-custom{
  width: clamp(35rem, 79vw, 111.1rem);
}
@utility text-preset-1{
  font-family:   'Josefin';
  font-size:      7.2rem;
  font-weight:    300; 
  line-height:    100%;
  letter-spacing: 0;
}
@utility text-preset-2{
  font-family:    'Josefin';
  font-size:      4.8rem;
  font-weight:    300;
  line-height:    100%;
  letter-spacing: 0;
}
@utility text-preset-3{
  font-family:    'Josefin';
  font-size:      4rem;
  font-weight:    300;
  line-height:    100%;
  letter-spacing: 0;
}
@utility text-preset-4{
  font-family:    'Josefin';
  font-size:      3.2rem;
  font-weight:    300;
  line-height:    100%;
  letter-spacing: 0;
}
@utility text-preset-5{
  font-family:    'Josefin';
  font-size:      2.4rem;
  font-weight:    300;
  line-height:    100%;
  letter-spacing: 0;
}
@utility text-preset-6{
  font-family:    'Alata';
  font-size:      1.5rem;
  font-weight:    400;
  line-height:    165%;
  letter-spacing: 0;
}
@utility text-preset-7{
  font-family:    'Alata';
  font-size:      1.4rem;
  font-weight:    400;
  line-height:    100%;
  letter-spacing: .5rem;
}